[user]
    name = Yuriy Taraday
    email = yorik.sar@gmail.com
[core]
    excludesfile = ~/.gitignore
[alias]
    st = status
    cm = commit -m
    cam = commit -a -m
    br = branch
    co = checkout
    df = diff
    lg = log -p
    who = shortlog -s --
    pick = cherry-pick
    log-all = log --all --graph --decorate --oneline
[color]
    diff = auto
    status = auto
    branch = auto
[log]
    decorate = true
[push]
	default = simple
[pull]
	rebase = true
